*{
    margin: 0;
    padding:0
}
/* shared style  */
.prymary_btn{
background-color:#4E47FF ;
padding: 12px 36px;
border-radius: 10px;
border: 0;
color: #FFFFFF;
cursor: pointer;

}
.prymary_btn:hover{
    background-color: #302c94;
  
}



/* header style */
body{
     font-family: "Inter", sans-serif;  
     background-color:#f5f8ff ;
}

  
header{
    background-image: url(../Assets/Hero-bg.png);
    height: 698px;
    width: 100%;
    margin-bottom: 116px;

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
    padding: 50px 0 50px 0;
}

.nav_title{
 color: #4E47FF;
 font-size: 34px;
 
}
.header_container{
    width:905px;
    height: 237px;
    margin: 158px auto;
    text-align: center;
}
.header_title{
font-weight: bold;
font-size: 65px;
color: #252432;
margin-bottom: 49px;

}

/* main part style */
main{
    
    max-width: 1140px;
    margin: 0 auto;
}

/* action section style */
.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 116px;
    gap: 220px;

}
.action_container{
    width: 50%;
}
.action_title{
font-family: "Raleway", sans-serif;
font-weight: bold;
font-size: 42px;
margin-bottom: 23px;
}
.action_discription{
 margin-bottom: 23px;
 font-family: "Raleway", sans-serif;
 font-size: 24px;
 color: rgba(37, 36, 50, 0.5);
}
.action_img{
    width: 50%;

}
.action_img img{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}
.productive_user_section{
    background-color: rgba(78, 71, 255, 0.1);
    padding: 50px 142px;
    border-radius: 24px;
    margin-bottom: 137px;
    color: #252432;
}
.productive_user_section h1{
    font-weight: bold;
    font-size: 38px;
    font-family: "Raleway", sans-serif;
    text-align: center;
    margin-bottom: 40px;
}

.user_activity_container{
    display: flex;
    gap: 158px;
    justify-content: space-between;
}
.activity_title{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}
.activity_name{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}
/* touch section style */
  .touch_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 117px;
    padding: 71px 0;
    height: 632px;
    margin-bottom: 14px;

  }
  .touch_title{
    font-weight: bold;
    font-size: 97px;
    font-family: "Raleway", sans-serif;
    width: 50%;
  }
  .form_container{
    width: 50%;
     height: 490px; 
    
  }
  .form_container input[type="email"], .form_container input[type="text"], .form_container textarea{
    width: 100%;
    padding: 20px 32px;
    margin: 10px 0 19px 0;
    border-radius: 10px;
    color: #FFFFFF;
    border: 1px solid #D6DDED;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
  }
  .form_container input[type="submit"]{
   
    width: 100%;
  }
  /* footer section style */
  .about_us{
    width: 100%;
    height: 428px;
    background-color: #FFFFFF;
    text-align: center;
    display: flex;
   flex-direction: column;
    
    justify-content: center;
    
  }
  .logo{
    font-size: 100px;
    color: #4E47FF;
    
    margin-bottom: 8px;
  }
  .subtitle{
    color: #8987A1;
    margin-bottom: 20px;
  }
  .about_us_link{
    display: flex;
    gap:48px ;
    align-items: center;
    justify-content: center;
  }
  .about_us_link a{
    color: #8987A1;
    text-decoration: none;

  }
  /* review section style  */
  .review_section{
    height: 342px;
    margin-bottom: 137px;
  }
  .review_title{
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 50px;
  }


  .riview_containers{
    display: flex;
    gap: 24px;
  }
  .review_container{
    padding: 24px;
    border-radius: 14px;
    background-color: #FFFFFF;
    width: 366.67px;

  }
  .review_title_name{
    margin-bottom: 8px;
    margin-top: 24px;
  }
  .review_discription{
    color: rgba(37, 36, 50, 0.8);
  }

  .reviewer_container{
    display: flex;
    gap: 12px;
    margin-top: 24px;
  }
  .reviewer_img{
    border-radius: 50%;
  }
  .reviewer_name{
    color: rgba(37, 36, 50, 0.8);
  }
  .review_date{
    color: rgba(37, 36, 50, 0.5);
  }


